@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.main_title {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 32px;
}

.start_btn {
    width: 300px;
    line-height: 70px;
    display: block;
    background-color: #da3a65;
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.start_btn:hover {
    opacity: 0.6;
}


h2 {
    margin-bottom: 36px;
}

dd {
    margin-bottom: 24px;
}

dd input {
    padding: 1rem;
}

dd select {
    padding: 1rem;

}


.robot_detail {
    /* width: 70%; */
    width: 540px;
    /* margin: 0 auto; */
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    box-shadow: 0px 0px 5px 0px rgba(30, 30, 30, 0.35);
}

.robot_detail dl {
    margin-bottom: 40px;

}

.robot_detail dt {
    margin-bottom: 4px;
}


dd.radio_btn label {
    margin-right: 16px;
}


.bg {
    background-image: url(../img/bg.jpg);
    background-color: #7F706C;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    /* position: relative; */
}

figure {
    /* display: inline-block; */
    position: absolute;
    text-align: center;
}

figcaption {
    text-align: center;
    color: #fff;
    border: 1px solid #999;
    border-radius: 100px;

}

figure img {
    width: 100%;
}



button {
    background-color: #da3a65;
    border: none;
    color: #fff;
    width: 320px;
    line-height: 70px;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

a.back {
    display: block;
    background-color: #da3a65;
    border: none;
    color: #fff;
    width: 70px;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 35px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    text-align: center;
}

a.back:hover {
    background-color: #e87e9a;
}