@charset "UTF-8";

/* ブレイクポイント
SP ～519px
tab 520～959px
PC 960PX～
*/

.about .about_sozai_inner,
.about .about_kuukan_inner {
  padding: 0 var(--contents-side-gutter);
}

/*********************
 　　テキスト 
*********************/

.about .about_sozai_text,
.about .about_kuukan_text {
  margin-bottom: var(--contents-gutter);
}

/* not:(:疑似クラス)　～じゃない、を指定する疑似クラス */
.about .about_sozai_text p:not(:last-child),
.about .about_kuukan_text p:not(:last-child) {
  margin-bottom: var(--size-md);
}

/* :last-child 並んでいる要素一番最後だけ、を指定する疑似クラス 
.about .about_sozai_text p:last-child {
  margin-bottom: 0;
} */


/*********************
 　　画像
*********************/
.about .about_sozai_img,
.about .about_kuukan_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--gutter-base)*2);
  margin-bottom: var(--section-gutter);
}

.about .about_kuukan_img {
  margin-bottom: var(--footer-gutter);
}

/* PCサイズ */
@media screen and (min-width:960px) {

  .about .about_sozai_text,
  .about .about_kuukan_text {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--contents-gutter-pc);
  }

  .about .about_sozai_img,
  .about .about_kuukan_img {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--section-gutter-pc);
    gap: calc(var(--gutter-base)*10);

  }

}

/*====== min-width:960px ここまで ======*/



/* AOS.jsの「ふわっと」現れるのを消すため、opacity:1;を上書きしてみる */
/* ↓（スタート地点で突然画像がその場に現れる感じになってしまったのでボツ） */

/* .about .about_sozai_img picture,
.about .about_kuukan_img picture {
  opacity: 1;
} */