@charset "UTF-8";

/* ブレイクポイント
SP ～519px
tab 520～959px
PC 960PX～
*/

/*********************
 mv video
*********************/
.mv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.mv video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mv .pc {
  display: none;
}

/* 背景動画のSP・PC切り替え */
@media screen and (min-width:520px) {

  .mv .pc {
    display: block;
  }

  .mv .sp {
    display: none;
  }
}

/*====== min-width:520px ここまで ======*/


/*********************
キーフレーズ設定（CHALONの願いです）
*********************/
.key_title {
  height: 150vh;
}

.key_title .key_title_inner {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.key_title .key_title_inner img {
  width: 90%;
  max-width: 520px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

@media screen and (min-width:520px) {
  .key_title .key_title_inner {
    justify-content: flex-end;
    transform: translateX(calc(var(--gutter-base)*-10));
  }
}

/*====== min-width:520px ここまで ======*/


/*********************
コンセプト（オープン20周年）
*********************/
.concept_inner {
  margin-bottom: 25vh;
}


.concept .concept_text {
  color: var(--white-color);
  font-size: var(--size-lg);
  padding-left: var(--contents-side-gutter);
  padding-right: var(--contents-side-gutter);
}

.concept .concept_text p {
  margin-bottom: var(--size-lg);
}

/* 画像（店内写真） */
.concept .concept_img {
  padding-left: var(--contents-side-gutter);
  padding-right: var(--contents-side-gutter);
  max-width: 500px;
}

@media screen and (min-width:960px) {
  .concept .concept_inner {
    display: flex;
  }

  /* 画像がいったん止まるところ */
  .concept .concept_img picture {
    position: sticky;
    /* top: 200px; 画面の上からの絶対位置固定でいったん止まる*/
    top: calc(50vh - 175px);
  }
}

/*====== min-width:960px ここまで ======*/

/*********************
Menu セクション
*********************/
.menu {
  background-color: var(--white-color);
  padding: var(--section-gutter) 0;
}

.menu .menu_text {
  text-align: center;
  margin-bottom: var(--contents-gutter);
}

.menu .slider {
  margin-bottom: var(--contents-gutter);
}

.menu .slider li {
  padding: 0 calc(var(--gutter-base)*2);
}

@media screen and (min-width:960px) {
  .menu {
    padding: var(--section-gutter-pc) 0;
  }
}

/*====== min-width:960px ここまで ======*/

/*********************
Lesson セクション
*********************/

.lesson {
  background-color: var(--white-color);
  padding: var(--section-gutter) 0;
}

.lesson .lesson_text {
  padding: 0 var(--contents-side-gutter);
  margin-bottom: var(--contents-gutter);
}

.lesson .lesson_img {
  display: block;
  padding: 0 var(--contents-side-gutter);
  margin-bottom: var(--contents-gutter);
}

@media screen and (min-width:960px) {
  .lesson {
    padding: var(--section-gutter-pc) 0;
  }

  .lesson .lesson_inner {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);

    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: repeat(3, 1fr);

  }

  .lesson .lesson_img {
    grid-column: 2/3;
    grid-row: 1/4;
    margin-bottom: 0;
  }

  .lesson .btn {
    align-self: start;
  }

}

/*====== min-width:960px ここまで ======*/

/* ショウウインドウ画像（固定） */
.bg_placeholder {
  height: 350px;
  opacity: 0;
  /* background-image: url(../../img/top_showcase.jpg);
  background-size: cover; */
}

@media screen and (min-width:960px) {
  .bg_placeholder {
    height: 600px;
  }
}

/*====== min-width:960px ここまで ======*/


.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/top_showcase.webp);
  background-size: cover;
  background-position: center center;
  z-index: -1;
  display: none;
}

.bg.on {
  display: block;
}


/*********************
News セクション
*********************/
.news {
  background-color: var(--white-color);
  padding-top: var(--section-gutter);
  padding-bottom: var(--footer-gutter);

}

.news dl {
  padding: 0 var(--contents-side-gutter);
  margin-bottom: calc(var(--gutter-base)*2);
}

.news dl:last-child {
  margin-bottom: 0;
}

.news dd {
  border-bottom: 2px dotted var(--main-color);
  padding-bottom: var(--gutter-base);
}

/* タブレットサイズ以上 日付と記事タイトル横並び */
@media screen and (min-width:520px) {
  .news dl {
    display: flex;
    border-bottom: 2px dotted var(--main-color);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .news dt {
    width: 30%;
  }

  .news dd {
    border-bottom: none;
    width: 70%;
  }
}

/*====== min-width:520px ここまで ======*/

@media screen and (min-width:960px) {
  .news {
    padding-bottom: var(--footer-gutter);
  }
}

/*====== min-width:960px ここまで ======*/





/*********************
スクロールダウンの矢印アニメーション
*********************/
.scroll_down {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: -1;
}

/* 矢印の先端 */
.scroll_down .arrow_down {
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  transform: rotate(135deg);
}

/* アニメーションする矢印の軸 */
.scroll_down::before {
  content: '';
  display: block;
  width: 2px;
  height: 90px;
  background-color: var(--white-color);
  position: relative;
  top: 8px;

  /* left: 50%; */
  /* transform: translateX(-1px); */
  left: calc(50% - 1px);

  animation: arrow 1.2s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes arrow {
  0% {
    /* 軸が伸びる基準点 */
    transform-origin: 0% 0%;
    /* 軸の大きさが0 */
    transform: scaleY(0);
  }

  50% {
    /* 基準点変わらず */
    transform-origin: 0% 0%;
    /* 軸の縦方向の大きさ（つまり長さ）が1（100％） */
    transform: scaleY(1);

  }

  51% {
    /* 基準点を一番下に変更 */
    transform-origin: 0% 100%;
    /* 軸の長さはまだ変化なし */
    transform: scaleY(1);

  }

  100% {
    /* 基準点一番下 */
    transform-origin: 0% 100%;
    /* 軸の長さが縮む（0へ） */
    transform: scaleY(0);
  }
}