@charset "UTF-8";

/* 全称セレクタ* このＷｅｂページ全部に対して設定するセレクタ*/
* {
    color: #666;
}

body {
    /* bodyタグ、ページ全体の上下左右の余白を0pxに設定 */
    margin: 0px;
}

/* class名が「test」とついてるdivタグを指定 */
div.test {
    background: #ff6666;
    width: 50%;
}

/* 一度に複数のセレクタへ指定する時は、,（カンマ）区切りで並べる */
div,
p {
    color: #dc143c;
}

img {
    /* width…要素の幅 */
    width: 300px;
    height: 100px;
    object-fit: cover;
}

/* 画像の幅の指定の単位
px … ピクセル単位
% …親要素（自分を囲っているタグ）の大きさに対して何％かの指定
vw(画面幅)、vh(画面の高さ) …見ているブラウザのウインドウのサイズに対しての割合で設定
 */