@charset "UTF-8";

/* 全体の設定 */
:root {
    --main-color: #9a8c98;
    --main-color-rgb: 154, 140, 152;
    --base-color: #f2e9e4;
    --sub-color: #c9ada7;
    --accent-color: #4a4e69;
    --white-color: #fafafa;
    --black-color: #22223b;
    --gray-color: #dedede;
    --font-serif: 'Times New Roman', 'YuMincho', 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
    --font-sans_serif: 'M PLUS 1p', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Arial', 'Yu Gothic', 'Meiryo',
        sans-serif;
}

body {
    font-family: var(--font-sans_serif);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
div {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    margin-top: 0;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 160px;
    text-align: center;
}

/* パーツ */

button.btn {
    display: inline-block;
    line-height: 1;
    border-radius: 50px;
    padding: 0.8em 3em;
    text-decoration: none;
    text-align: center;
    background-color: var(--main-color);
    color: var(--base-color);
    border: 0;
    text-transform: capitalize;
    box-shadow: rgb(var(--main-color-rgb), 0.6) 0px 0px 16px;
}

button.btn:hover {
    background-color: var(--sub-color);
    color: var(--base-color);
    transition: 0.5s;
    cursor: pointer;
}

/* ヘッダー */
header {
    background-color: rgb(var(--main-color-rgb), 0.7);
    padding: 1.5em 2.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    border-radius: 0 0 24px 24px;
}

header div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.grobal_nav {
    display: flex;
}

nav.grobal_nav ul {
    display: flex;
    align-items: center;
}

nav.grobal_nav ul li {
    margin-right: 2.5em;
}

nav.grobal_nav a:hover {
    color: var(--base-color);
    border-bottom: 1px solid var(--base-color);
    transition: 0.4s;
}

h1.site_logo {
    color: var(--base-color);
    font-size: 1.5em;
    font-weight: bold;
}

/* MV */
.mv {
    margin-top: 0;
    margin-bottom: 160px;
    background: var(--main-color) url(../img/mv.jpg) no-repeat left center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    border-radius: 0 0 24px 24px;
}

/* メインコンテンツ */

/* セクション見出し */
h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5rem;
}

h2:before,
h2:after {
    content: '';
    position: absolute;
    top: 60%;
    display: inline-block;
    width: 32px;
    height: 2px;
    background-color: var(--sub-color);
}

h2:before {
    left: 0;
}

h2:after {
    right: 0;
}

h2 span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-color);
    position: absolute;
    width: auto;
    top: 3.5em;
    left: 50%;
    transform: translateX(-50%);
}

/* serviceセクション */
ul.service-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

li.service-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.service-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1.5rem 0;
    line-height: 1.5;
}

.svg_symbol {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(var(--main-color-rgb), 0.5) 0px 0px 24px;
}

.svg_symbol svg {
    width: 88px;
    height: 88px;
}

li.direction .svg_symbol svg {
    position: relative;
    top: 4px;
    left: 4px;
}

p.item-text {
    text-align: left;
}

/* Worksセクション */
ul.works-container {
    display: grid;
    max-width: 1100px;
    margin: 0 auto 6rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 4.5rem;
}

li.works-item {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1.5rem;
    border-radius: 24px;
    /* border: 1px solid var(--accent-color); */
    box-shadow: rgb(var(--main-color-rgb), 0.5) 0px 0px 32px;
}

li.works-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 1.5rem 0;
}

li.works-item p.works-item-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}

p.project_tag {
    font-size: 0.8rem;
    padding: 2px 8px;
    background-color: var(--sub-color);
    border-radius: 0.5rem;
}

/* aboutセクション */

section#about {
    background-color: var(--base-color);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0;
    border-radius: 24px 24px 0 0;
}

section#about h1 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 16px;
}

#about div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

#about p.myphoto {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
}

#about p.myphoto img {
    width: 100%;
    border-radius: 50%;
}

div.about_text {
    max-width: 480px;
    text-align: left;
}

/* フッター */
footer {
    background-color: var(--base-color);
}

div.footer_wrapper {
    background-color: var(--main-color);
    color: var(--base-color);
    text-align: right;
    padding: 8px 40px;
    border-radius: 24px 24px 0 0;
}