@charset "UTF-8";

body {
    background-color: #fef0fe;
    margin-top: 32px;
    margin-left: 32px;
    line-height: 1.7;
}

input {
    margin-bottom: 8px;
}

input[type="submit"] {
    margin-top: 12px;
}

table {
    margin-top: 24px;
}

th,
td {
    padding-right: 32px;
}

.totop {
    display: block;
    margin-top: 16px;
}